html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    -ms-user-select: none;
    user-select: none;
    /* background: rgb(117, 22, 43); */
    background: radial-gradient(circle farthest-corner at 85% 95%, rgba(46, 32, 32, 0.847), #240830) no-repeat;
    height: 100%;
    overflow: hidden;
    font-weight: 100;
}

#canvas {
    display: block;
    margin: 30px auto;
    image-rendering: auto;
    border-radius: 1rem;
    animation: eerieAnimation 3s ease-in-out infinite;
}

#div {
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
}

button {
    font-family: Arial;
    font-size: 2em;
    min-width: 2em;
    background-color: #310d3b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    border-radius: 2rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation: eerieAnimation 2s ease-in-out infinite;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: fixed;
    top: 10%;
    left: 5%;
    color: brown;
    font-size: 40px;
    font-family: 'Chiller', sans-serif;
    font-weight: bold;
}

.vertical-text.right {
    left: auto;
    top: 25%;
    right: 5%;
}

@keyframes eerieAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}