*{
    box-sizing: border-box;

}
html, body {
        font-size: 10px;
  background-color: black;
  height: 100%;          
  width: 100%;
  margin: 0;            
  padding: 0;
}
body{
  box-shadow: 
inset 30px 0 50px rgba(0, 255, 255, 0.5),
inset -30px 0 50px rgba(0, 255, 255, 0.5),
inset 0 -20px 50px rgba(0, 255, 255, 0.45),
inset 0 10px 30px rgba(0, 255, 255, 0.25);
display: flex;
justify-content: center;
align-items: center;


}
.head{
    margin-top: 10vmin;
    color:  white;
    font-size: 9em;
    font-style: italic;
    font-weight: bold;
    background: transparent;
    margin-bottom: 0px;
}
.outarea{
    margin-top: -15vh;
    background: transparent;
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color:  #FFFF33;
    flex-direction: column;
}
.tit{
    font-size: 4em;
    /* margin-top: 7px; */
    background: transparent;
    margin-bottom: 0px;
    text-align: center;
}
.box{
    display: flex;
    width: 50vmin;
    height: 50vmin;
    flex-wrap: wrap;
    background: transparent;
}
.inbox{
    border-radius: 1rem;
    height: 32%;
    width: 32%;
    background: linear-gradient(135deg, #00FFFF 0%, #E0FFFF 100%);
    font-size: 7vmin;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    padding-bottom: 2vmin;
    box-shadow: 0 0 1rem rgba(208, 212, 212, 0.25);
    color: #FFFF33;
}
.con1{
    width: 34vmax;
    margin-left: 4vmin;
    background: transparent;
    color: #E0FFFF;
}
.con1 span{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFF33;
    font-size:1.5em;
}
.con1 h3{
    font-size: 3.5em;
    background: transparent;
}
.con2{
    background: transparent;
    color: #E0FFFF;
    display: flex;
    justify-content: flex-start;
    height: 25vmax;
    flex-direction: column;
}

.con2 h3{
    width: 30vmax;
    font-size: 3.5em;
    background: transparent;
}
.reset{
    color: #FFFF33;
    font-size: 2em;
    font-weight: bold;
    background-color: #00FFFF;
    /* height: 5vmin;
    width: 10vmin; */
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
}
.mode{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mode p{
    font-size: 1em;
    padding: 0;
    margin: 0;
}
.mode-area{
    margin-top: 0;
    height: 3.5vmin;
    width: 5vmax;
    background-color: #FFFF33;
    border-radius: 1.5rem;
    position: relative;
}
.mode-ball{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vmin;
    height: 3.5vmin;
    background-color: black;
    border-radius: 50%;
    margin-left: 0.8px;
    position: absolute;
  transition: left 2s ease-in-out;
}
.mode-ball p{
    font-size: larger;
    background: transparent;
    padding: 0;
    margin: 0;
}
.end{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5vmin;
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.gif{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
z-index: 9999;
width: 100%;
height: 100%;
}

@media(max-width: 1084px){
    *{
        font-size: 3px;
    }  
    .con1{
        margin-left: 1px;
        margin-top: 2vmin;
    }
    body{
        flex-direction: column;
    }
    .mode-ball p{
        font-size: 4px;
    }
}