*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    font-size: 30px;
}
body{
        background-color: #f8f9fa;
        color: #212529;
        font-style: italic;
}
.nav{
    position:sticky;
    top: 0px;
    width: 110vw;
    background-color: #ff4d6d;
    color: #ffffff;
    /* box-shadow: 2px #780000; */
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 5vh 3vh #f49cbb;
    margin-bottom: 10vh;
    
}
.nav h2{
    font-size: 0.9em;
    margin-top: 1.2vh;
}
.nav h1{
    font-size: 1em;
    margin-top: 1.2vh;
}
.icons{
        font-size: 2.7em;
        align-content: center;
        justify-content: center;
        display: flex;
}
.emoji{
    border-radius: 50%;
    font-size: 1em;
    margin-left: 5vw;
    font-style: normal;
}
.emoji:hover{
font-size: 0.7em;
height: 7vmax;
width: 7vmax;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
border: 4px solid #f26a8d;
overflow-y: hidden;
}
#rock:hover{
    background-color: #ff922b;
}
#paper:hover{
    background-color: #4dabf7;
}
#scissor:hover{
background-color: #9775fa;
}
.round{
    margin-top: 10vh;
    display: flex;
        justify-content:space-around;
    align-content: center;

}
.round img{
    border-radius: 50%;
    width: 15vmax;
    height: 20vmin;
}
.vs-you,.vs-com{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vs-you img{
    height: 150px;
}
.vs-com img{
    height: 150px;
}

.you-score,.com-score{
    width: 7vw;
    height: 7vh;
    margin-top: 3vh;
    text-align: center;
    color: #868e96;
}
.message{
    background-color: #ff6b6b;
    color: white;
    font-style: italic bold;
    display: block;
    margin-top: 3vmin;
    padding: 1vmin;
    border-radius: 1rem;
}
.vs-sign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.restart{
    display: flex;
    justify-content: center;
}
.restart img{
    width:20vw;
    height: 15vw;
}
@media(min-width:0px) and (max-width:319px){
    html{
        font-size: 7.5px;
    }
}
@media(min-width:320px) and (max-width:425px) {
   html{ font-size: 15px;   
   } 
}
@media(min-width:425px) and (max-width:768px){
    html{
        font-size: 15px;
    }
}

